body {
  background: rgb(214, 247, 248);
  color: cadetblue;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-weight: bold;
}

nav {
  /*ok*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: cadetblue;
  padding: 5px;
  text-align: center;
}

#sentence {
  /*ok*/
  width: 100%;
}

#instruction {
  /*ok*/
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#sentenceInput {
  /*ok*/
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: larger;
}

.page-wrapper {
  /*ok*/
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
}

/* —————————〈  C A N V A S  〉——————————— */

canvas {
  /*ok*/
  border: 5px solid cadetblue;
  border-radius: 10px;
  cursor: pointer;
  width: 98%;
}

/*---————〈 C O L O R  F I E L D S,  B U T T O N S  &  S L I D E R S 〉————----*/

.tools {
  /*ok aber noch nicht responsive*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(153, 201, 202);
  border: 5px solid cadetblue;
  border-radius: 10px;
}

.tools .color-field {
  /*ok*/
  align-self: center;
  height: 100px;
  width: 100px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid cadetblue;
  border-radius: 20px;
  margin: 10px;
}

.tools .color-field:hover {
  /*ok*/
  border: 5px solid cadetblue;
}

button {
  /*ok*/
  width: 100px;
  height: 40px;
  border: 5px solid cadetblue;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 0px 5px 0px 0px;
  background-color: cadetblue;
  font-weight: bold;
}

button:hover {
  /*ok*/
  background-color: rgb(153, 201, 202);
  border: 5px solid rgb(153, 201, 202);
}

#buttons {
  display: flex;
  justify-content: left;
}

.color-picker {
  /*ok*/
  margin: 0 10px;
  height: 100px;
  width: 100%;
  border: 5px solid cadetblue;
  border-radius: 10px;
  background: transparent;
}

.pen-range {
  /*ok*/
  width: 100%;
  margin: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  height: 25px;
  background: cadetblue;
  outline: none;
}

.pen-range::-webkit-slider-thumb {
  /*ok*/
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 5px solid rgb(214, 247, 248);
  border-radius: 50%;
  background: rgb(214, 247, 248);
  cursor: pointer;
}

.pen-range::-moz-range-thumb {
  /*ok*/
  width: 20px;
  height: 20px;
  border: 5px solid rgb(214, 247, 248);
  border-radius: 50%;
  background: rgb(214, 247, 248);
  cursor: pointer;
}

/* —————————〈 E N D 〉——————————— */

#footer {
  /*ok*/
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
}

@media (min-width: 850px) {
  /*??? */
  .tools {
    max-width: 30%;
    max-height: 100%;
    margin-right: auto;
  }
}

@media (max-width: 850px) {
  #canvas-input {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 100%;
    height: fit-content;
  }
  canvas {
    /* width: 98%; */
    /* height: 200px; */
    /* height: max-content; */
  }
  .tools {
    flex-direction: row;
    margin-bottom: 30px;
  }
  .tools .color-field {
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
  }
  .color-picker {
    height: 40px;
    min-height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20%;
  }
  .pen-range {
    margin-bottom: 10px;
    height: 10px;
  }
  .pen-range::-webkit-slider-thumb, .pen-range::-moz-range-thumb {
    width: 10px;
    height: 10px;
  }
  #buttons {
    justify-content: center;
  }
  #sentence {
    text-align: center;
  }
}