body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4f000b;
    margin: 0;
    background-color: #ce4257;
}

nav {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #720026;
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
}

fieldset {
    border: 5px solid #4f000b;
    border-radius: 10px;
    background-color: #720026;
    width: 95%;
    padding-top: 140px;
    padding-bottom: 140px;
    margin: 0 auto;
}

#form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 25px;
    font-weight: bold;
    color: #ce4257;
}

input {
    border: 5px solid #720026;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #720026;
    font-weight: bold;
    font-size: larger;
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 450%;
    margin-bottom: 0px;
}

#createGame {
    color: white;
    background-color: #ce4257;
    font-family: Arial, Helvetica, sans-serif;
    width: 5%;
    padding: 2px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
}

#createGame:hover {
    background-color: #720026;
    cursor: pointer;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}

@media (max-width: 850px) {
    nav {
        margin-bottom: 0px;
    }
    h1 {
        font-size: 200%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    input {
        font-size: smaller;
        width: 85%;
    }
    #createGame {
        width: 25%;
    }
    fieldset {
        width: 85%;
        margin-top: 20px;
    }
}